In [2]:
import pandas as pd

# Loading data

In [3]:
df = pd.read_csv('data.csv')
print(df)

        Id  Area  Bedrooms  Bathrooms  Floors  YearBuilt  Location  Condition  \
0        1  1360         5          4       3       1970  Downtown  Excellent
1        2  4272         5          4       3       1958       NaN  Excellent
2        3  3592         2          2       3       1938  Downtown       Good
3        4   966         4          2       2       1902  Suburban       Fair
4        5  4926         1          4       2       1975  Downtown       Fair
...    ...   ...       ...        ...     ...        ...       ...        ...
1995  1996  4994         5          4       3       1923  Suburban       Poor
1996  1997  3046         5          2       1       2019  Suburban       Poor
1997  1998  1062         5          1       2       1903     Rural       Poor
1998  1999  4062         3          1       2       1936     Urban  Excellent
1999  2000  2989         5          1       3       1903  Suburban       Fair

     Garage   Price
0        No  149919
1        No  424998
2        No  266746
3       Yes  244020
4       Yes  636056
...     ...     ...
1995     No  295620
1996    Yes  580929
1997     No  476925
1998    Yes  161119
1999     No  482525

[2000 rows x 10 columns]

# Exploring data

In [4]:
df.head()

,Id,Area,Bedrooms,Bathrooms,Floors,YearBuilt,Location,Condition,Garage,Price
0,1,1360,5,4,3,1970,Downtown,Excellent,No,149919
1,2,4272,5,4,3,1958,NaN,Excellent,No,424998
2,3,3592,2,2,3,1938,Downtown,Good,No,266746
3,4,966,4,2,2,1902,Suburban,Fair,Yes,244020
4,5,4926,1,4,2,1975,Downtown,Fair,Yes,636056

In [6]:
df.tail()

,Id,Area,Bedrooms,Bathrooms,Floors,YearBuilt,Location,Condition,Garage,Price
1995,1996,4994,5,4,3,1923,Suburban,Poor,No,295620
1996,1997,3046,5,2,1,2019,Suburban,Poor,Yes,580929
1997,1998,1062,5,1,2,1903,Rural,Poor,No,476925
1998,1999,4062,3,1,2,1936,Urban,Excellent,Yes,161119
1999,2000,2989,5,1,3,1903,Suburban,Fair,No,482525

In [7]:
df.shape

(2000, 10)

In [10]:
print(f"Null values in each column :\n{df.isnull().sum()}")

Null values in each column :
Id           0
Area         0
Bedrooms     0
Bathrooms    0
Floors       0
YearBuilt    0
Location     3
Condition    0
Garage       0
Price        0
dtype: int64

In [11]:
print(df.describe())

                Id         Area     Bedrooms   Bathrooms       Floors  \
count  2000.000000  2000.000000  2000.000000  2000.00000  2000.000000
mean   1000.500000  2786.209500     3.003500     2.55250     1.993500
std     577.494589  1295.146799     1.424606     1.10899     0.809188
min       1.000000   501.000000     1.000000     1.00000     1.000000
25%     500.750000  1653.000000     2.000000     2.00000     1.000000
50%    1000.500000  2833.000000     3.000000     3.00000     2.000000
75%    1500.250000  3887.500000     4.000000     4.00000     3.000000
max    2000.000000  4999.000000     5.000000     4.00000     3.000000

         YearBuilt          Price
count  2000.000000    2000.000000
mean   1961.446000  537676.855000
std      35.926695  276428.845719
min    1900.000000   50005.000000
25%    1930.000000  300098.000000
50%    1961.000000  539254.000000
75%    1993.000000  780086.000000
max    2023.000000  999656.000000

In [12]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Id         2000 non-null   int64
 1   Area       2000 non-null   int64
 2   Bedrooms   2000 non-null   int64
 3   Bathrooms  2000 non-null   int64
 4   Floors     2000 non-null   int64
 5   YearBuilt  2000 non-null   int64
 6   Location   1997 non-null   object
 7   Condition  2000 non-null   object
 8   Garage     2000 non-null   object
 9   Price      2000 non-null   int64
dtypes: int64(7), object(3)
memory usage: 156.4+ KB
None

In [19]:
col = df.columns
print("Columns in data set are:")
for i in col:
    print(i)

Columns in data set are:
Id
Area
Bedrooms
Bathrooms
Floors
YearBuilt
Location
Condition
Garage
Price

In [24]:
print(f"Number of objects are : \n{df.count()}")

Number of objects are :
Id           2000
Area         2000
Bedrooms     2000
Bathrooms    2000
Floors       2000
YearBuilt    2000
Location     1997
Condition    2000
Garage       2000
Price        2000
dtype: int64

In [33]:
df.dtypes

Id            int64
Area          int64
Bedrooms      int64
Bathrooms     int64
Floors        int64
YearBuilt     int64
Location     object
Condition    object
Garage       object
Price         int64
dtype: object

In [35]:
print(f"Unique values are : \n{df.nunique()}")

Unique values are :
Id           2000
Area         1622
Bedrooms        5
Bathrooms       4
Floors          3
YearBuilt     124
Location        4
Condition       4
Garage          2
Price        1999
dtype: int64